*{
  font-family: "Arial", "Helvetica", sans-serif;
}

h1{
  text-align: left;
  font-weight: bold;
}

td{
    height: 35px;
    width: 35px;
    border: 1px solid black;
    empty-cells: hide;
    border-spacing: 25px 25px;
    background-color: mediumturquoise;
    box-shadow: 3px 3px 3px midnightblue;
    text-align: center;
}

td:hover{
  background-color:lemonchiffon;
}

.alkali-metal{
    background-color:mediumorchid;
}

.alkaline-earth{
  background-color: mediumpurple;
}

.basic-metal{
  background-color:mediumseagreen;
}

.non-metal{
  background-color: mediumslateblue;
}

.semimetal{
  background-color: mediumvioletred;
}

.halogen{
  background-color: lightsteelblue;
}

.noble-gas{
  background-color: magenta;
}

.lanthanide{
  background-color: yellow;

}

.actinide{
  background-color: whitesmoke;
}

.inset1{
  text-align:left;
  font-size: 8px;
  background-color: yellow;
}

.inset2{
  text-align:left;
  font-size: 8px;
  background-color: whitesmoke;
}
